/* polices */
@font-face {
	font-family: Dindong;
	src: url(/src/assets/font/DINdong.ttf);
}

@font-face {
	font-family: BBBPoppins Regular;
	src: url(/src/assets/font/BBBPoppinsTN-TextRegular.ttf);
}

@font-face {
	font-family: Inter;
	src: url(/src/assets/font/Inter-VariableFont_opsz\,wght.ttf);
}
body {
	font-family: Dindong;
}

a {
	text-decoration: none;
	color: black;
}

li {
	text-decoration: none;
	list-style: none;
}

/* variables css */

:root {
	--transparent-green: rgba(0, 249, 71, 0.62);
	--more-transparent-green: rgba(0, 249, 71, 0.5);
	--transparent-dark-green: rgba(173, 227, 146, 0.6);
	--yellow: #fbff00;
	--beige: #feffc1;
	--transparent-beige: rgba(254, 255, 193, 0.9);
	--light-purple: #e6e0f5;
	--light-beige: #ffffe8;
	--light-grey: #f8f8f8;
	--admin-white: #ffffff;
	--admin-blue: #aaeaff;
	--admin-light-blue: #ccf2e9;
	--admin-beige: #ffffe7;
}
/* balises HTML */

* {
	box-sizing: border-box;
}

img {
	width: 100%;
}

button {
	background: #f3f3f3;
	border: unset;
	padding: 0.6rem;
}
button:hover {
	cursor: pointer;
	background: #d3d3d3;
}
