/* polices */
@font-face {
	font-family: Dindong;
	src: url(/src/assets/font/DINdong.ttf);
}

@font-face {
	font-family: BBBPoppins Regular;
	src: url(/src/assets/font/BBBPoppinsTN-TextRegular.ttf);
}

@font-face {
	font-family: Inter;
	src: url(/src/assets/font/Inter-VariableFont_opsz\,wght.ttf);
}
body {
	font-family: Dindong;
}

a {
	text-decoration: none;
	color: black;
}

li {
	text-decoration: none;
	list-style: none;
}

/* variables css */

/* :root {
} */

/* balises HTML */

* {
	box-sizing: border-box;
}

img {
	width: 100%;
}

button {
	background: unset;
	border: unset;
}
button:hover {
	cursor: pointer;
}
