/* Mobile First */

.contenu_accueil {
	top: 120px;
	display: flex;
	flex-direction: column;
	gap: 60px;
	align-items: center;
	height: auto;
	width: 100vw;
	position: relative;
	z-index: 3;

	.nouveautés,
	.actuellement {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}

	img {
		width: 50vw;
		display: block;
		box-shadow: 10px 5px 15px black;
	}

	.event_accueil {
		width: 50vw;
		height: 300px;
		background-color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 1.875em;
		gap: 1.875em;
		box-shadow: 5px 5px 20px red;
		margin-bottom: 100px;
		a {
			text-decoration: underline;
		}
	}
}

/* Tablette */
@media only screen and (min-width: 630px) {
	.contenu_accueil {
		top: 170px;
		gap: 5em;

		.nouveautés,
		.actuellement {
			gap: 40px;
		}

		img {
			width: 40vw;
		}

		.event_accueil {
			width: 40vw;
		}
	}
}

/* desktop */

@media only screen and (min-width: 1100px) {
	.contenu_accueil {
		top: 120px;
		padding: 30px;
		display: flex;
		flex-direction: row;
		gap: 20vw;
		align-items: center;
		width: 100vw;
		position: relative;
		z-index: 3;

		.nouveautés,
		.actuellement {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 30px;
		}

		img {
			height: 50vh;
			width: auto;
			display: block;
			box-shadow: 10px 5px 15px black;
		}

		.event_accueil {
			width: 15vw;
			height: 50vh;
			background-color: white;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 20px;
			gap: 30px;
			box-shadow: 5px 5px 20px red;
			margin-bottom: 0px;
			a {
				text-decoration: underline;
			}
		}
	}
}
