.contentformulaire{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: right;


form{
    z-index: 3;
    width: 80vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    
}


@media only screen and (min-width: 630px) {
    form{
        width: 60vw;
    }
}

@media only screen and (min-width: 1100px) {
    form{
        width: 35vw;
    }

}
}