.contentformulairelogin{
    background-color: rgba(0, 249, 71, 0.31);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


form{
    z-index: 3;
    width: 20rem;
    height: 55vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;

    h2{
        padding-bottom: 30px;
    }

    p{
        font-size: 12px;
        padding-top: 25px;
        text-decoration: underline;
    }
}
}