

.formulaire_crud{
        padding: 20px;
    
        label, input{
            margin: 10px;

        }

        .msg_erreur{
            font-size: 12px;
            color: red;
        }
        }
        
.book_crud{
    display: flex;
    flex-direction: column;
}
    