.flexall {
	display: flex;
	flex-direction: column;
	/* width: 90vw; */
	justify-content: center;
	align-items: center;
	position: relative;
	padding-top: 120px;
	
}

.flexcat {
	display: flex;
	width: 90vw;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	img {
		width: 80px;
	}

	.cartelivre {
		width: 200px;
		height: 200px;
		border: rgb(123, 123, 123) 1px solid;
		margin: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

/* desktop */

@media only screen and (min-width: 1100px) {
	.flexcat {
		flex-wrap: nowrap;
	}
}
