/* PAGE CATALOGUE */

.flexall {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: left;
	align-items: center;
	position: relative;
	padding-top: 160px;
	padding-bottom: 120px;
}

.flexcat {
	display: flex;
	width: 90vw;
	flex-wrap: wrap;
	justify-content: center;
	gap: 100px;
	img {
		width: 150px;
	}

	.cartelivre {
		width: 200px;
		height: 300px;
		/* border: rgb(123, 123, 123) 1px solid; */
		a {
			margin: 10px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 10px;

			.legende {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 3px;
				/* img {
					margin-bottom: 7px;
				} */
				p {
					text-align: center;
				}
			}
		}
	}
}

@media only screen and (min-width: 556px) {
	.flexcat {
		img {
			height: 250px;
			width: auto;
		}
	}
}
