header {
	/* mobile first */
	background-color: rgba(0, 249, 71, 0.62);
	height: 8vh;
	z-index: 10;
	display: flex;
	position: fixed;
	align-items: center;
	width: 100vw;
	justify-content: space-evenly;
	gap: 8vw;

	.logo {
		width: 40px;
	}

	.menuham {
		width: 20px;
	}

	/* Tablette */

	/* desktop */
	/* 
	
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 60px;
	
	 */
}

@media only screen and (min-width: 1100px) {
	header {
		justify-content: space-between;
		padding-left: 20px;
		padding-right: 60px;
	}

	.menuham {
		display: none;
	}
}
