header {
	/* mobile first */
	background-color: rgba(0, 249, 71, 0.62);
	height: 5vh;
	z-index: 10;
	display: flex;
	position: fixed;
	align-items: center;
	width: 100vw;
	justify-content: center;
	gap: 20px;

	.logo {
		width: 40px;
	}

	.menuham {
		width: 20px;
	}

	/* desktop */
	/* 
	
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 60px;
	
	 */
}
