/* social-icon */
.logo-in-header {
	display: flex;
}

@media only screen and (max-width: 900px) {
	.logo {
		width: 40px;
	}
	/* .logo-in-header {
		display: flex;
	} */
	.logo-in-nav {
		display: none;
	}
}
