.mentionsContainer {
	width: 95vw;
	height: auto;
	background-color: #ffffff;
	border-radius: 30px;
	position: relative;
	top: 5rem;
	padding: 2rem;
	margin: 0 auto;
	margin-bottom: 5rem;
	a {
		color: blue;
		text-decoration: underline;
	}
}

@media only screen and (min-width: 700px) {
	.mentionsContainer {
		width: 70vw;
	}
}
