.menu {
	display: none;
}

.navbar-mobile-visible {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	gap: 30px;
	position: absolute;
	top: 45px;
	left: 0;
	width: 100vw;
	height: 100px;
	background-color: rgba(0, 249, 71, 0.62);
	.navlinks {
		display: flex;
		align-items: center;
		gap: 30px;
	}
}

.hamburger {
	width: 30px;
	background: none;
	display: flex;
	align-items: center;
	justify-content: center;
	border-style: none;
}

.logostripe {
	width: 20px;
	height: 20px;
}

@media only screen and (min-width: 1100px) {
	.menu {
		display: flex;
		flex-direction: row;
		gap: 10vw;
		justify-content: center;
		align-items: center;
		.navlinks {
			display: flex;
			align-items: center;
			gap: 5rem;
			width: 100%;

			/* a:active {
				font-weight: bold;
			} */
		}
	}

	.hamburger {
		display: none;
	}
}
