.dashboard{
    width: 35vw;
    height:100vh;
    background-color: rgb(153, 66, 234);
    padding: 10px;
    
    

    .links{
       
       p{
            margin-top: 15px;

       }
    }
    
   
    /* position: fixed;
     */
}

.dashboard-admin-book{
    display: flex;
   
}