/* PAGE ACCUEIL LIVRES : AJOUTER / MODIFIER / SUPPRIMER*/
.book_crud {
	display: flex;
	align-items: center;
	margin-bottom: 10px;

	.button_crud {
		position: absolute;
		left: 700px;
	}

	button {
		background: none;
		border: none;
	}
}

/* FORMULAIRE LIVRE */
.formulaire_crud {
	padding: 20px;

	label,
	input {
		margin: 10px;
	}

	.msg_erreur {
		font-size: 12px;
		color: red;
	}
}
